body {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    margin: 0 5px 0 5px;
}

a,
a:visited {
    color: blue;
    font-family: 'Kelly Slab', cursive;
    font-size: 1em;
}

#logo {
    width: 100%
}

p {
    color: white;
    margin-left: 15px;
}
#phone p { 
    font-size: 40px;
    margin: 0 auto;
    width: 300px;
}

h1 {
    margin: 0 0 0 150px;
    color: white;
    margin-bottom: 30px;
}
h2 {
    color: white;
    size: 40px;
}

#about,
#contacts {
    background-image: url('img/right.jpg');
    height: 400px;
    margin-top: -20px;
    position: relative;
}

#couple {
    float: right;
    margin-left: 10px;

}

.blue-font {
    background-color: #30679f;
    height: 400px;
}

#conditions {
    background-image: url('img/left.jpg');
    height: 400px;
    margin-top: -20px;
    position: relative;
}

#conditions img {
    float: right;

}

#conditions ol {
    color: white;
    margin-right: 20px;
    float: right;
}

fieldset {
    width: 100px;
    margin-left: 10px;
}
#sumbmit{
    margin: 0 auto;
}
#phone{
    background-color: #30679f;
    height: 50px;
    margin: 0;
}



/*.dropbtn {
        background-color: #7c8c99;
        color: white;
        padding: 12px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
        position: absolute;
        left: 0%;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        flex-wrap: wrap;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: relative;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .dropdown:hover .dropdown-content {
        display: flex;
    }
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }*/

@media screen and (min-width:419px) {
    .dropbtn {
        display: none;
    }
}
